---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Témoignages"
      description="Découvrez ce que nos clients disent de Growth Tempo et de l'impact que nous avons eu sur leur croissance"
    />
    <div class="rounded-[45px] bg-[#191a23] mb-[150px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
